.container {
    border: 2px solid #50763C;
    border-radius: 12px;
    margin: 3%;
    position: absolute;
}

.margin {
    margin: 5%;
}

h1 {
    position: relative;
    top: -42px;
    color: #50763C;
    background: white;
    width: 425px;
    margin-left: calc(50% - 210px);
}

.grid {
    margin-top: -8%;
}

